div.choices {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin: auto;
    height: 800px;
}

div.rock {
    border: 10px solid grey;
    height: 300px;
    width: 300px;
}

div.paper {
    border: 10px solid grey;
    height: 300px;
    width: 300px;
}

div.scissors {
    border: 10px solid grey;
    height: 300px;
    width: 300px;
}

img {
    height: 250px;
}
